contourpy==1.0.7
cycler==0.11.0
Cython==0.29.33
fonttools==4.39.2
kiwisolver==1.4.4
matplotlib==3.7.1
numpy==1.24.2
packaging==23.0
Pillow==9.4.0
pycparser==2.21
pyparsing==3.0.9
pyrealsense2==2.53.1.4623
python-dateutil==2.8.2
six==1.16.0
opencv-python==4.7.0.72
scipy==1.11.1
